@model IEnumerable<Ticket.Models.TicketModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="justify-content-end text-right">
    <p class="text-primary text-sm-right">Choose showing system</p>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary" id="btnClassic">
            <span class="fas fa-table"> Classic</span>
            <input type="radio" name="options" autocomplete="off" checked />
        </label>
        <label class="btn btn-secondary" id="btnTable">
            <span class="fas fa-table"> Table</span>
            <input type="radio" name="options" autocomplete="off" />
        </label>
     </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Topic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EtaDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Topic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EtaDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TicketID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TicketID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TicketID })
        </td>
    </tr>
}

</table>
